@import url(app.css);

.social__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-end;
  padding: 1rem;
  align-items: center;
}

.social__links div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 1px solid var(--gray-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__links a {
  color: var(--gray-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.twitter__link:hover {
  background-color: #3b5998;
  border: 1px solid #3b5998;
}

.linkedin__link:hover {
  background-color: #00acee;
  border: 1px solid #00acee;
}

.instagram__link:hover {
  background: linear-gradient(
    180deg,
    rgba(64, 93, 230, 1) 0%,
    rgba(131, 58, 180, 1) 25%,
    rgba(225, 48, 108, 1) 50%,
    rgba(245, 96, 64, 1) 75%,
    rgba(252, 175, 69, 1) 100%
  );
  border: 1px solid
    linear-gradient(
      180deg,
      rgba(64, 93, 230, 1) 0%,
      rgba(131, 58, 180, 1) 25%,
      rgba(225, 48, 108, 1) 50%,
      rgba(245, 96, 64, 1) 75%,
      rgba(252, 175, 69, 1) 100%
    );
}

.twitter__link:hover a,
.linkedin__link:hover a,
.instagram__link:hover a {
  color: var(--white-color) !important;
}
